// Canvas Dependencies //

$raleway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

section h2 {
  font-size:48px;
  font-weight:700;

}

@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";
@import "dependencies/phone-slug.scss";
@import "dependencies/contact-modal.scss";
@import "dependencies/specials.scss";
@import "dependencies/location-section.scss";
@import "dependencies/slides.scss";
@import "dependencies/meet-the-team.scss";
@import "dependencies/team-carousel.scss";
@import "dependencies/reviews.scss";
@import "dependencies/no-insurance.scss";
@import "dependencies/services.scss";
@import "dependencies/service-modal.scss";
@import "dependencies/tour.scss";


// End Canvas Dependencies //


// Variables to define first //

$third-font: 'Roboto Condensed', sans-serif;
$button-color: orange;
$button-hover:gray;

// CSS //

body {
  font-family:$raleway;
}

h1 {
  font-size:64px;
}

h2 {
  font-size:48px;
  font-family:$raleway;
}

h3 {
  font-size:36px;
}

h4 {
  font-size:28px;
}

h5 {
  font-size:24px;
}

h6 {
  font-size:20px;
}

p {
  font-size:18px;
  font-family:$raleway;
}

.button {
  background: radial-gradient(50% 100%, #FAA822 12%, #FA6D22 100%);
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.12);
  border-radius: 18px;
  color:#FFF;
  text-transform:uppercase;
  font-family:$lato;
  border:none;
}
.button:hover {
  background:#D25C1C !important;
  transition:0s !important;
}
.content-wrap {
  padding:0;
}
